@font-face {
  font-family: 'EM3';
	src: url('../../iconfont/iconfont.eot?t=1621838762251'); /* IE9 */
  src: url('../../iconfont/iconfont.eot?t=1621838762251#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../iconfont/iconfont.woff2?t=1621838762251') format('woff2'),
       url('../../iconfont/iconfont.woff?t=1621838762251') format('woff'),
       url('../../iconfont/iconfont.ttf?t=1621838762251') format('truetype'),
       url('../../iconfont/iconfont.svg?t=1621838762251#iconfont') format('svg');
}

.EM3 {
  font-family: "EM3" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

/* EM3 logo */
.EM3-explosion:before {
  content: "\e63d";
}

/* reset */
.EM3-reset:before {
  content: "\e627"
}
